plugins/akismet
plugins/fakerpress
plugins/quick-adsense-reloaded
plugins/show-current-template
plugins/wordpress-importer
plugins/wordpress-popular-posts
plugins/wp-asset-clean-up
plugins/wp-subtitle